
body {
    font-family: 'Prociono', serif;
    background-color: green;
    font-size: 20;


}

h1{
   font-family: 'Playball', cursive;
   color: blue;
   padding: 15px;
   border-color: blue;
   border-width:4px;
   border-style:dashed;
   width: 400px;
}
